* {
  padding: 0%;
  margin: 0%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  height: 100%;
}

.parent {
  overflow: scroll;
  height: 100%;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
}

.parent::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: -ms-grid;
  display: grid;
}

section i {
  margin: auto;
  color: white;
  border-radius: 20% 20% 20% 20%;
  color: #7fff00;
}

section h1 {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 150px;
  margin-left: 50%;
  margin-top: 5%;
  font-family: "Dancing Script", cursive;
  text-shadow: 5px 5px 5px black;
}

section h2 {
  margin: auto;
  margin-top: 3%;
  font-size: 50px;
  color: whitesmoke;
  text-shadow: 5px 5px 5px black;
  font-family: "Dancing Script", cursive;
}

.one {
  -ms-grid-rows: auto 100px;
      grid-template-rows: auto 100px;
}

.one .arow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.one .arow i {
  position: absolute;
}

.two {
  -ms-grid-rows: 15% auto 10%;
      grid-template-rows: 15% auto 10%;
}

.two div {
  width: 80%;
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 5px 5px black;
          box-shadow: 0px 5px 5px black;
}

.two div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-bottom: 1%;
  text-decoration: none;
  height: calc(100% / 6);
  background-color: #4CAF50;
}

.two .arow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  background-color: none;
}

.two .arow i {
  position: absolute;
}

.thre {
  -ms-grid-rows: 150px auto 100px;
      grid-template-rows: 150px auto 100px;
}

.thre div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thre div ul {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thre div ul li i {
  display: inline-block;
  top: auto;
  width: 100%;
  margin: 10px;
  color: white;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: auto;
  width: 100%;
  margin: 10px;
  color: white;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease;
}

.thre div ul li i:hover {
  background-color: white;
  color: black;
}

.thre div ul li i:hover {
  color: black;
  background-color: white;
}

.thre div .arow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.thre div .arow i {
  position: absolute;
}

.thre .four {
  -ms-grid-rows: auto 100px;
      grid-template-rows: auto 100px;
}

.thre .four .arow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.thre .four .arow i {
  position: absolute;
}

.thre .five {
  -ms-grid-rows: 150px auto 100px;
      grid-template-rows: 150px auto 100px;
}

.thre .five input[type=text], .thre .five select, .thre .five textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: none;
  resize: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: whitesmoke;
  color: black;
  font-style: oblique;
}

.thre .five textarea {
  height: 100px;
}

.thre .five input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.thre .five input[type=submit]:hover {
  background-color: #45a049;
}

.thre .five input:focus, .thre .five textarea:focus {
  outline: none;
  -webkit-box-shadow: 0px 5px 5px #45a049;
          box-shadow: 0px 5px 5px #45a049;
  background-color: #666666;
  color: white;
}

.thre .five form {
  margin: auto;
}

.thre .five .container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  border-radius: 5px;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.thre .five .arow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.thre .five .arow i {
  position: absolute;
}

.thre input[type=text], .thre select, .thre textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: none;
  resize: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: whitesmoke;
  color: black;
  font-style: oblique;
}

.thre textarea {
  height: 100px;
}

.thre input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.thre input[type=submit]:hover {
  background-color: #45a049;
}

.thre input:focus, .thre textarea:focus {
  outline: none;
  -webkit-box-shadow: 0px 5px 5px #45a049;
          box-shadow: 0px 5px 5px #45a049;
  background-color: #666666;
  color: white;
}

.thre form {
  margin: auto;
}

.thre .container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  border-radius: 5px;
  justify-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

@media only screen and (max-width: 850px) {
  .parent .fa-chevron-down {
    display: none;
  }
  .parent h1 {
    font-size: 70px;
  }
  .parent section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .parent form {
    display: none;
  }
  .parent div {
    display: none;
  }
  .parent section {
    height: 20%;
  }
}
/*# sourceMappingURL=index.css.map */