*{
    padding: 0%;
    margin: 0%;
    user-select: none;
}
html, body{
        height: 100%;
}
.parent {
    overflow: scroll;
    height: 100%;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    &::-webkit-scrollbar {display: none;}
    
  }
section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    display: grid;
    i{
        margin: auto;
        color: white;
        border-radius: 20% 20% 20% 20% ;
    }
    h1{
        display: flex;
        font-size: 150px;
        justify-content: center;
        margin: auto;
        color: white;
        font-family: "Dancing Script", cursive;
        text-shadow: 5px 5px 5px black;
        opacity: 0;
    }
    h2{
        margin: auto;
        margin-top: 3%;
        font-size: 50px;
        color: whitesmoke;
        font-family: "Dancing Script", cursive;
        text-shadow: 5px 5px 5px black;
    }
}
.one {
    grid-template-rows: auto 100px;
}
.two {
    grid-template-rows: 150px auto 100px;
    div{
        display: flex;
        box-shadow: 0px 5px 5px black;
        width: 80%;
        background-color: black;
        justify-self: center;
        transition: all 0.3s ease;
    }
}
.thre {
    grid-template-rows: 150px auto 100px;
    div{
        ul{
            align-items: center; 
            display: flex; 
            justify-content: space-between;
            list-style: none;
            padding: 0rem 10rem;
            li{
                display: inline-block;
                border: solid 1px white;
                top: auto;
                width: 100%;
                margin: 5px;
                height: 100px;
                color: white;
                text-align: center;
                transition: all 0.3s ease ;
                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}
.four {
    grid-template-rows: auto 100px;
}
.five {
    grid-template-rows: 150px auto 100px;
}

@media only screen and (max-width: 850px) {
   section{
       h1{
           font-size: 75px;
       }
   }
}