* {
  margin: 0%;
  padding: 0%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main {
  width: 870px;
  height: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main a {
  top: 3%;
  left: 50%;
  font-size: 3rem;
  color: #ff0066;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body main h1 {
  left: 50%;
  top: 7%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body main .buttonV {
  margin-top: 7rem;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .buttonV button {
  width: 150px;
  height: 50px;
  border: none;
  color: black;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  text-align: center;
  display: inline-block;
  background-color: white;
}

body main .buttonV #tic:hover {
  border-radius: 10px 0 0 10px;
  width: 200px;
  background-color: #ff1aff;
  color: white;
  cursor: pointer;
}

body main .buttonV #tac:hover {
  border-radius: 0 10px  10px 0;
  width: 200px;
  background-color: #3d0099;
  color: white;
  cursor: pointer;
}

body main #sliderBottom {
  z-index: 1;
  width: 870px;
  height: 310px;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
  background-color: white;
}

body main #sliderBottom h1 {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bolder;
}

body main .playGround {
  margin: 50% 10% 10% 10%;
}

body main .playGround .gamecontainer {
  display: -ms-grid;
  display: grid;
  margin: 50px auto;
  -webkit-box-shadow: 0px 5px 10px black;
          box-shadow: 0px 5px 10px black;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

body main .playGround .gamecontainer .cell {
  border: 1px solid #393939;
  background-color: #ffff00;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .playGround .gamecontainer .cell:hover {
  border: none;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
}

body main #reset {
  left: 50%;
  top: 80%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
  width: 150px;
  height: 50px;
  border: none;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  display: inline-block;
}

body main #reset:hover {
  background-color: #ffff00;
  width: 200px;
  font-size: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=tic-tac-toe.css.map */