*{
    margin: 0%;
    padding: 0%;
    user-select: none;
}
body{
    display: flex;
    justify-content: center;
    main{
        width: 870px;
        height: 970px;
        display: flex;
        justify-content: center;
        .buttonV{
            margin-top: 6rem;
            position: absolute;
            justify-content: space-between;
            button{
                width: 150px;  
                height: 50px;
                border: none;
                color: black;
                transition: 0.5s;
                text-align: center;
                display: inline-block;
            }
            #tic{
                &:hover{
                    width: 200px;
                    background-color: springgreen;
                }

            }
            #tac{
                &:hover{
                    width: 200px;
                    background-color: tomato;
                }
            }
        }
        #sliderBottom{
            z-index: 1;
            width: 870px;
            height: 310px;
            position: absolute;
            transition: all 0.5 ease;
            background-color: white;
        }
        .playGround{
            margin: 50% 10% 10% 10%;
            .gamecontainer{
                display: grid;
                margin: 50px auto;
                box-shadow: 0px 5px 10px black;
                grid-template-columns: repeat(3, auto);
                .cell{
                    border: 1px solid #393939;
                    background-color: steelblue;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    cursor: pointer;
                    justify-content: center;
                    &:hover{
                        border: none;
                        box-shadow: 0px 0px 10px;
                    }
                }
            }
        }
    }
}